<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />


    <link
      href="../../../static/styles/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../../../static/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />

    <link href="../../../static/styles/css/style.css" rel="stylesheet" />
    <link href="../../../static/styles/css/equipe.css" rel="stylesheet" />

    <link href="../../../static/styles/globals/variables.css" rel="stylesheet" />
    <link href="../../../static/styles/globals/global.css" rel="stylesheet" />


    <link rel="stylesheet" href="../../../static/styles/css/Footer.css" />
    <link rel="stylesheet" href="../../../static/styles/css/projetos_especificos.css" />

    <link rel="stylesheet" href="../../../static/styles/css/form.css">

    <link rel="stylesheet" href="../../../static/styles/css/animation/animation.css" />

    <link rel="stylesheet" href="../../../static/styles/css/pgNoticia.css">
  </head>

  <body>

    <header id="header" class="header fixed-top">
      <div class="container-fluid container-xl d-flex align-items-center justify-content-between"
      >
        <a href="index.html" class="logo d-flex align-items-center">
          <img src="../../../static/images/logo/logo-4.png" alt="" class="" />
          <span>FJPB</span>
        </a>
        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto" href="#main-section">Home</a></li>
            <li><a class="nav-link scrollto" href="#">Sobre</a></li>
            <li><a class="nav-link scrollto" href="#main-News">Notícias</a></li>
            <li><a class="nav-link scrollto" href="#team">Equipe</a></li>
        
            <li class="dropdown">
              <a href="#"
                ><span>Projetos</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="#">Legislações</a></li>
                <li><a href="#">Prêmios</a></li>
                <li><a href="#">Galeria</a></li>
              </ul>
            </li>
            <li><a class="getstarted scrollto" href="#contact">Contato</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>

        <div class="accessibility accessibility-header" tabindex="0">
          <img src="../../../static/images/accessibility/acessibilidade_ap.svg" alt="Ícone aumentar fonte" class="accessibility-fontA" title="Aumentar o tamanho das letras" tabindex="0">
          <img src="../../../static/images/accessibility/acessibilidade_am.svg" alt="Ícone diminuir fonte" class="accessibility-fontD" title="Diminuir o tamanho das letras" tabindex="0">
          <img src="../../../static/images/accessibility/acessibilidade_preto.svg" alt="Ícone escuro/claro" class="accessibility-dark" title="Ativar e Desativar o modo alto contraste" tabindex="0">
          <img src="../../../static/images/accessibility/acessibilidade_c.svg" alt="Ícone tons de cinza" class="accessibility-gray" title="Ativar e Desativar o modo em tons de cinza" tabindex="0">
          <img src="../../../static/images/accessibility/acessibilidade_back.svg" alt="Ícone voltar" class="accessibility-back" title="Voltar a configuração inicial" tabindex="0">
      </div>
      </div>
    </header>
    

 <main id="main">

    <section id="news" class="news">
        <div class="container" data-aos="fade-up">

        <div class="row">

            <div class="col-lg-8">
                <div class="main-content">
                    <h1>Campeonato de Corrida</h1>
                    <p class="author">De Lorem</p>
                    <p class="authorp">06/05/2024 - 11:50</p>
                </div>
                <article class="entry entry-single">

                <div class="entry-img">
                <img src="../../../static/images/img/palestra.png" alt="" class="img-fluid" style="width: 100%;">
            </div>

            

            <div class="entry-meta">
              <ul>
                <li class="d-flex align-items-center"><a href="">Lorem Lorem Lorem Lorem</a></li>
              </ul>
            </div>

            <div class="entry-content">
              <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, dolor iste? Perferendis impedit doloribus possimus suscipit, reiciendis consequuntur ipsa odio quo sed, aperiam repellendus sequi expedita at blanditiis fugit architecto..
              </p>

              <p>
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum dolores sunt voluptates iusto nesciunt tempora cum mollitia impedit iste dolor. In aut soluta quam consequatur voluptatum similique ea earum minus.
              </p>

              <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo officiis molestias autem odit maxime, excepturi hic accusantium, numquam repudiandae qui nulla suscipit ipsum possimus, inventore sint quibusdam iure obcaecati doloremque.
              </p>

              <h3 class="subt">Urgente</h3>
              <img src="../../../static/images/img/noticia/noticia.jpg" class="img-fluid" alt="">
              <div class="entry-meta">
                  <ul>
                    <li class="d-flex align-items-center"><a href="">Lorem Lorem Lorem Lorem</a></li>
                  </ul>
              </div>

              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo officiis molestias autem odit maxime, excepturi hic accusantium, numquam repudiandae qui nulla suscipit ipsum possimus, inventore sint quibusdam iure obcaecati doloremque.
              </p>
              <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo officiis molestias autem odit maxime, excepturi hic accusantium, numquam repudiandae qui nulla suscipit ipsum possimus, inventore sint quibusdam iure obcaecati doloremque.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo officiis molestias autem odit maxime, excepturi hic accusantium, numquam repudiandae qui nulla suscipit ipsum possimus, inventore sint quibusdam iure obcaecati doloremque.
              </p>

            </div>
          </article>

        </div>
        <div class="col-lg-4">

          <div class="sidebar">
            <h3 class="sidebar-title">Postagens recentes
            </h3>
            <div class="sidebar-item recent-posts">
              <div class="post-item clearfix">
                <img src="../../../static/images/img/noticia/noticia.jpg" alt="">
                <h4><a href="">Cotidiano</a></h4>
                <time datetime="2020-01-01">Centro Universitário Unipê e a Secretaria de Proteção e Defesa</time>
              </div>

              <div class="post-item clearfix">
                <img src="../../../static/images/img/noticia/noticia.jpg" alt="">
                <h4><a href="l">Cotidiano</a></h4>
                <time datetime="2020-01-01">Centro Universitário Unipê e a Secretaria de Proteção e Defesa</time>
              </div>

              <div class="post-item clearfix">
                <img src="../../../static/images/img/noticia/noticia.jpg" alt="">
                <h4><a href="">Cotidiano</a></h4>
                <time datetime="2020-01-01">Centro Universitário Unipê e a Secretaria de Proteção e Defesa</time>
              </div>

              <div class="post-item clearfix">
                <img src="../../../static/images/img/noticia/noticia.jpg" alt="">
                <h4><a href="">Cotidiano</a></h4>
                <time datetime="2020-01-01">Centro Universitário Unipê e a Secretaria de Proteção e Defesa</time>
              </div>

              <div class="post-item clearfix">
                <img src="../../../static/images/img/noticia/noticia.jpg" alt="">
                <h4><a href="">Cotidiano</a></h4>
                <time datetime="2020-01-01">Centro Universitário Unipê e a Secretaria de Proteção e Defesa</time>
              </div>

            </div>

           

          </div>

        </div>

      </div>

    </div>
    </section>

  </main>
    
  
   
  <footer id="footer" class="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <img src="../../../static/images/logo/logo-5.png" alt="Logomarca">
            </a>
            <p>Quer ficar por dentro de todas as novidades inovação, exclusivas e conteúdos incríveis? Então não perca tempo e siga-nos nas redes sociais!</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="col-lg-2 col-6 footer-links">
            <h4>Links Úteis</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="index.html">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="index.html #">Sobre nós</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#main-News">Notícias</a></li>              
            </ul>
          </div>
          <div class="col-lg-2 col-6 footer-links">
            <h4>Nossos Serviços</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i><p>Noticias</p> </li>
              <li><i class="bi bi-chevron-right"></i> <p>Galeria de fotos</p></li>
              <li><i class="bi bi-chevron-right"></i><p>Legislações</p></li>
             
            </ul>
          </div>
          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>CONTATE-NOS</h4>
            <p>
              Rua dos .....<br>Brasil, Nº 53<br>Gramame<br><br>
              <span class="fw-bold">Contato: </span>+55 (83) 98888-8888<br>
              <span class="fw-bold">Email: </span>fabrica@unipe.br<br>
            </p>
          </div>
        </div>
      </div>
    </div> 

    
  </footer>

  <script src="../../../static/js/main.js"></script>
  <script src="../../../static/styles/bootstrap/js/bootstrap.bundle.min.js"></script>


  <script src="../../../static/js/animation.js"> </script>


 
  <div class="gtranslate_wrapper"></div>
  <script>
    window.gtranslateSettings = {
      default_language: "pt",
      languages: ["pt", "en", "es"],
      wrapper_selector: ".gtranslate_wrapper",
      alt_flags: { pt: "brazil" },
    };
  </script>
  <script
    src="https://cdn.gtranslate.net/widgets/latest/float.js"
    defer
  ></script>

  <div vw class="enabled vLibras" tabindex="0">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
      <div class="vw-plugin-top-wrapper"></div>
    </div>
  </div>
  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
    new window.VLibras.Widget("https://vlibras.gov.br/app");
  </script>
</body>
</html>
-->