.container.projetos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin: 20em auto;
}

.container-buscar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: #32508C;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    color: #FFF;
    height: auto; 
}

.container-buscar span {
    font-size: 1.2em;
    color: #FFF;
}

.filtragem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtragem .btn {
    border-radius: 30px;
    border: 1px solid #0D0D0D;
    background: #FFF;
    color: #000;
    padding: 10px 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

.form-inline {
    display: flex;
    align-items: center;
    width: 300px;
    border-radius: 30px;
    border: 1px solid #0D0D0D;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

.form-inline input {
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
    border-radius: 30px;
}

#main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20em auto;
}

.card {
    height: 274px;
    flex-shrink: 0;
    display: flex;
    background-color: #487F47;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 4px 0px rgba(0, 0, 0, 0.10);
    width: 788px;
}

.card-image {
    height: auto;
    object-fit: cover;
    flex-shrink: 0;
    width: 300px;
    flex-shrink: 0;
}

.status {
    border-radius: 30px;
    background: linear-gradient(90deg, #0DF205 0%, #0DF205 49.88%, #268C4A 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    padding: 5px 10px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.carregar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 247px;
    height: 55px;
    flex-shrink: 0; 
    border-radius: 30px;
    background: #32508C;
    color: var(--Color, #FFF);
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
}